@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    background-color: #2B394A;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #C5D0DD;
}

p {
    color: #75858F;
}