@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.container1 {
    background-color: #2B394A;
    color: white;
}

.row {
    padding: 20px;
}

.row2 {
    color: #2B394A;
}

.container4 {
    background-color: #2B394A;
    color: white;
}
